.marketimg {
    z-index: 1;
    max-width: 100%;
  }

  .headerSpacer {
    height: 5rem;
    background-color: white;
  }

  .container {
    display: inline-flex;
  }

  .underAdContainer {
    margin-top: 2%;
    margin-left: 28%;
    margin-right: 28%;
  }

  