.starting {
  background-image: url("../../images/climbing.jpg");
  background-size: cover;
  background-position: center;
  color:white;
  padding: 20px 30px;
  min-height: 800px;
  text-align: center;
}

.starting2 {
  background-image: url("../../images/nature.jpg");
  background-size: cover;
  background-position: center;
  color:white;
  padding: 20px 30px;
  min-height: 800px;
  text-align: center;
  min-height: calc(100vh - 5rem);
}

.starting3 {
  background-image: url("../../images/nature2.jpg");
  background-size: cover;
  background-position: center;
  color:white;
  padding: 20px 30px;
  min-height: 850px;
  text-align: left;
}
.starting2 h1 {
  margin: 60px 0;
  font-size: 70px;
  font-style: normal;
  animation: slide 2s;
  position: relative;
}

.starting h1 {
  margin: 60px 0;
  font-size: 70px;
  font-style: normal;
  animation: slide 2s;
  position: relative;
}

.starting3 h1 {
  margin: 60px 0;
  margin-left: 2%;
  margin-top: 6%;
  font-size: 70px;
  font-style: normal;
  animation: slide 2s;
  position: relative;
}



@keyframes slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

.starting button {
  border: 1px solid #9f5ccc;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #F72F47;
  color:white;
  font-weight: bold;
  font-size: 20px;
}
.starting button:hover {
  color:#F72F47;
  background: white;
  transition: all 0.5s;
  transform: scale(1.05);
}

.headerSpacer {
  height: 5rem;
  background-color: white;
}

.yellow {
  padding: 12px 24px;
  color: #84F77A;
  font-weight: bold;
  position: fixed;
  right: 20px;
  left: 80%;
  top:12%
}

.yellow:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

body {
  overscroll-behavior-x: none;
}

/* 가로 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

/* 세로 스크롤바 숨기기 */
.StartingPageContent::-webkit-scrollbar-vertical {
  display: none;
}
