.starting {
  background-size: cover;
  background-repeat: none;
  background-position: center;
  color: rgb(22, 178, 212);
  padding: 20px 30px;
  min-height: 800px;
  text-align: center;
}

.starting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starting h1 {
  margin: 60px 0;
  font-size: 70px;
  font-style: normal;
}

.starting button {
  justify-content: center;
  align-content: center;
  opacity: 0.7;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: white;
  color: rgb(18, 18, 18);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  width: 70vw;
  height: 5vh;
  margin: auto;
  margin-bottom: 0.8%;
}

.starting button:hover {
  color: #f72f47;
  background: white;
  transition: all 0.5s;
  transform: scale(1.05);
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px;
}
