.starting {
  background-size: cover;
  background-position: center;
  color: rgb(32, 31, 31);
  padding: 20px 30px;
  min-height: 800px;
  text-align: center;
}

.starting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starting h1 {
  margin: 60px 0;
  font-size: 70px;
  font-style: normal;
}

.starting button {
  background-image: url("../../images/climbing.jpg");
  border: 1px solid #19191a;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: #e7707e;
  color: rgb(18, 18, 18);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  width: 93vw;
  height: 5vh;
}
.starting button:hover {
  color: #f72f47;
  background: white;
  transition: all 0.5s;
  transform: scale(1.05);
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px;
}
