.header {
    width: 100%;
    height: 5rem;
    background-color: #F6F9FB;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  
  .logo {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #434343;
    margin: 0;
    line-height: 80%;
  }
  
  .logo_under {
    font-size: 19px;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin: 0 1rem;
  }
  
  .header a {
    text-decoration: none;
    color: #434343;
    font-weight: bold;
  }
  
  .header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid #434343;
    color: #434343;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .header a:hover {
    color: #74B4FF;
  }
  
  .header button:hover {
    background-color: #74B4FF;
    color: white;
  }

  .NavName {
    font-weight: bold;
    color: #434343;
  }

  .Nim {
    font-weight: normal;
    color: #434343;
  }